/*Importing fonts---*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*css code content--- */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html
{
   font-size: 62.5%;
}

body{
     
      font-family: 'Roboto',sans-serif;
    letter-spacing: 0.05rem;
      line-height: 1.7;
      overflow-x: hidden;
      
}

.header{
    height:100vh;
    background-image: linear-gradient(rgba(11, 11, 43, 0.301),rgba(11,11,43,0.178)),url('../Images/image-background.png');
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.header .navbar .logo, .header .navbar .nav-items a{
    color:white;
}
.header .navbar{
    padding:1rem;
    
}
.header .navbar .logo{
float:left;
font-size: 3.5rem;
font-family: 'Montserrat',sans-serif;
margin-top:1.5rem;
letter-spacing: 0.15em;
}

.header .navbar .nav-items{
float:right;
font-size:2.2rem;
font-weight: 600;
margin-top:1rem;

}
.clearfix{
    clear:both;
}
.header .navbar .nav-items .nav-item{
    display:inline-block;
    list-style:none;
    padding:1rem;
    font-family: 'Montserrat',sans-serif;
    
    
}
.navbar a{
    padding-bottom:0.3 rem;
}

/*
ul li{
    list-style:none;
}  */
a{
    font-size: 1.6rem;
    text-decoration: none;
    
}
p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
}
h1,h2,h3{
    margin-bottom:0.5em;
    letter-spacing:0.05rem;
    
}
hr{
    border:0.2rem solid slategrey;
    margin-top: 0.2rem;
}


.container{
    max-width: 1200px;
     width:90%;
    margin:0 auto;
} 
.lg-heading{
    font-size: 3.5rem;

}
.md-heading{
    font-size: 2.5rem;
}
.s-heading{
    font-size: 1.7rem;
}
.lg-font{
    font-family: 'Montserrat',sans-serif;
}
.text-purple{
    
    color:rgb(128, 0, 128);
}
.text-grey{
    color:grey;
}
#font{
    font-size: 2rem;
    color:blue;
}
.text-coral{
    color:coral;

}
.text-green{
  color:rgb(68, 207, 128);;
}
.bg-grey1{
    background-color: lightgray;
}
.bg-grey2{
    background-color: rgba(128, 128, 128, 0.466);
}
.header .navbar a:link, .header .navbar a:visited{
    color:white;
}
.header .navbar a:hover{
 border-bottom: 0.2rem solid rgb(255, 255, 255);
 
}

.header-content a:hover, .box a:hover, .project a:hover, .plan a:hover,.Blogs a:hover{
    background-color: rgb(129, 129, 219);
}
.btn{
    display: inline-block;
    margin: 0.5em 0;
    padding:0.5em 1.5em;
    font-weight:600;
    text-transform: uppercase;
    color:white;
    border-radius: 10rem;
}
.primary{
    
    background-color: rgba(255, 127, 80, 0.938);
}
.secondary{

    background-color: rgb(68, 207, 128);
}

.header-content{
    position:absolute;
    top:58%;
    left:10%;
    transform:translate(-10%,-68%);
    font-weight: 300;
}
.header-content p{
    font-size: 2.2rem;
}


/*STYLING ABOUT SECTION */
.height{
    height: 68vh;
    margin-top:5rem;
}
.background{
    
    
    padding:1rem 0;
    

}
.init{
    text-align: center;
   /*font-size: 4.5rem;*/
   padding-top:1.5rem;
    
}
.box{
    width:33.33%;
    float:left;
    padding:3rem 0;
    text-align: center;
}
.box h1,.project h1{
    
   
    letter-spacing: 0.01rem;
}
.box p{
    
    margin-top: 0.2rem;
}
.info{
    margin-top:4rem;
}
.info p{
    width:59%;
    float:left;
    margin:0.1rem 0rem 0rem 10.2rem;
    letter-spacing: 0.02rem;
    font-size:2.2rem;
}

.fa-15x{
    font-size: 15em;
    float:left;
    margin-left: 11.1rem;
    margin-top:-0.4rem;
    
}
.fa-4x{
    font-size:3.5rem;
    border:0.2rem solid rgb(68, 207, 128);
    color:white;
    border-radius: 5rem;
    padding:1.1rem;
    
}
#box3{
    font-size: 6.5rem;
}
#box2{
    border:0.2rem solid coral;
    
}
/*STYLING PROJECT SECTION*/
.project{
    height:30%;
    width:25%;
    float:left;
    margin-top:1.5rem;
    margin-bottom: 1.5rem;
}

.same{
    padding:3rem;
}
.project p{
    margin-top:-6.8rem;
}
.click{
    margin-left:2.2rem;
    margin-top:-2.8rem;
}
/*STYLING PRICING SECTION */
.plan{
   width:33.33%;
   float:left;
   text-align: center;
   margin-top:1.7rem;
   
}
.pricing{
    margin-top:1.2rem;
}
.pricing .plans .plan1, .pricing .plans .plan2{
border-right: 2px solid rgb(194, 193, 193);
}

/*STYLING VIDEO PROJECTS */
.container1{
    width:100%;
    height:100vh;
    
    justify-content: center;
    align-items:center;
    position:relative;
}
.container1 .slider{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
video{
    width:100%;
    height:30rem;
}
.container1 ul{
    position:absolute;
    bottom:50rem;
    left:50%;
    transform:translate(-50%);
    display:flex;
    justify-content: center;
    align-items: center;
    

}
.container1 ul li{
    list-style: none;
    cursor:pointer;
    margin:1rem;
}
.container1 ul li video{
    width:22rem;
    transition:all 0.3s;
}
.container1 ul li video:hover{
    transform:scale(1.3)
}


/*STYLING TEAM SECTION*/

.card{
 
 
  width:33.33%;
   float:left;
    height:2rem;
    text-align: center; 
}


.imp,.card2{
   
    margin-top:45rem;
}
.card img{
    border:0.1rem solid #ddd;
    border-radius: 100%;
    width:23rem;
    height:23rem;
}
.card1{
    margin-top: 4rem;
}

.title {
    color:purple;
    font-size: 2.2rem;
}
a {
    text-decoration: none;
    font-size: 2.2rem;
    color:lightslategray;
}
.Team  .card a:hover{
opacity:0.7;
}

/*STYLING LIFE AT ZIPPY SESSION */
.life{
    height:100vh;
}
.slider{
    margin:5rem 18rem;
    width:50%;
}
.img-box img{
    width:86rem;
    height:52rem;
}
.button{
    border:none;
    outline:none;
    background-color: #888;
    padding:1rem 3rem;
    font-size: 2rem;
    color:#ddd;
    cursor:pointer;
    margin:1rem auto;

}
.button:hover{
    background: #111;
}
#btn2{
    margin-right:1rem;
}

/*STYLING BLOG SECTION*/
.blogs img{
    width:33rem;
    height:27rem;
}
.Blogs{
    margin-top:9rem;
}
.blog{
    width:33.33%;
   float:left;
   text-align: center;
   margin-top:1.9rem;
   
}
.blogs h1{
    margin-top:4rem;
}

/*STYLING CONTACT SECTION*/
.contact{
    padding:5rem 0;
}
.form-wrapper .company-address{
    width:49%;
    float:left;
    padding:1rem;
    height: 76rem;
    
}
.form-wrapper .company-address i{
    display:inline-block;
    margin-right: 1rem;
}
.form-wrapper .company-address h2{
    display:inline-block;
    margin-right: 1rem;
}

.text-red{
    color:#e63946;
    /*color:blue;*/
}
.form-wrapper .address-group{
    margin-bottom:3rem;
}
.form-wrapper .company-address img{
    width:37rem;
    height: 36rem;

   /* object-position: right;*/
}
.Blogs hr{
    margin-top:2.8rem;
}


.form-wrapper .form{
    width:49%;
   font-size: 2rem;
    float:right;
    padding: 1rem 0rem;
    height:76rem;
    
}
.form h1{
  border-bottom: 0.4rem solid rgb(74, 179, 119);
    border-radius: 0.2rem;
  
}
.form-wrapper .form label{
    display: block;
}
.form-wrapper .form input{
    padding: 0.5rem;
    width:100%;
    height: 3rem;
}
.form-wrapper .form label::after{
    content:"* ";
    color:#e63946;
}
.form-wrapper .form textarea{
    width:100%;
    height:30rem;
    padding:1rem;
}
.form-btn{
    display: block;
    margin:0 auto;
    padding:0.5em 3em;
    font-size: 1.8rem;
    color:#fff;
    outline:none;
    border:none;
    cursor:pointer;
    text-transform: uppercase;
}
.fa-5x{
    font-size:3.5rem;
}
/*FOOTER SECTION*/
.footer{
    background-color: #263238;
    color:#f4f4f4;
    padding: 1rem;
    text-align: center;
}
.social-media-links{
    margin:0 2rem 2rem 2rem;
} 


@media (max-width:500px){
    html{
        font-size:50%;
        
    }
    .header{
        width:100vw;
    }
    .navbar .nav-items .navbar .logo{
        float:none;
        display: block;
        width:100%;
        text-align: center;
    }
}






